<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testA2" class="com.wx.somecode.CircleA" scope="prototype">
        <property name="circleB" ref="testB2" />
    </bean>

    <bean id="testB2" class="com.wx.somecode.CircleB" scope="prototype">
        <property name="circleC" ref="testC2" />
    </bean>

    <bean id="testC2" class="com.wx.somecode.CircleC" scope="prototype">
        <property name="circleA" ref="testA2" />
    </bean>
</beans>