<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="a" name="tmpA,myA,fA" class="com.wx.somecode.A">
    </bean>

    <bean id="b" class="com.wx.somecode.BFactoryBean">
    </bean>

    <bean id="c" class="com.wx.somecode.CFactoryBean">
    </bean>

    <import resource="spring-context-child.xml" />

    <bean abstract="true" id="abstract_a" class="com.wx.somecode.A">
    </bean>

    <bean id="sa" parent="abstract_a" scope="prototype">
    </bean>

    <bean id="f" class="com.wx.somecode.F" factory-method="newA" />

    <bean class="com.wx.somecode.CloseListener" />
</beans>