<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ca" name="ctmpA,cmyA,fA" class="com.wx.somecode.A">
    </bean>

    <bean id="cb" class="com.wx.somecode.BFactoryBean">
    </bean>

    <bean id="cc" class="com.wx.somecode.BFactoryBean">
    </bean>
</beans>