<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.somecode.RuleMapper">
    <select id="selectOne" resultType="com.wx.somecode.Rule">
        select * from route_rule where id = #{id}
    </select>
</mapper>